<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>EmployerServlet</display-name>
    <servlet-name>EmployerServlet</servlet-name>
    <servlet-class>controllers.EmployerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerServlet</servlet-name>
    <url-pattern>/EmployerServlet</url-pattern>
  </servlet-mapping>
  <display-name>JSP_EL_DEMO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletEmpleados</display-name>
    <servlet-name>ServletEmpleados</servlet-name>
    <servlet-class>servlets.ServletEmpleados</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEmpleados</servlet-name>
    <url-pattern>/ServletEmpleados</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthUser</display-name>
    <servlet-name>AuthUser</servlet-name>
    <servlet-class>servlets.AuthUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthUser</servlet-name>
    <url-pattern>/AuthUser</url-pattern>
  </servlet-mapping>
</web-app>